.main-content {
	margin: 100px auto;
	max-width: 300px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.field-error {
	border: 1px solid red;
}

input {
	margin-bottom: 5px;
}

em {
	color: red;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}